@import '_vars.scss';
@import 'modules/_reset.scss';
@import 'modules/_header.scss';
@import 'modules/_hero.scss';
@import 'modules/_about.scss';
@import 'modules/_video.scss';
@import 'modules/_faq.scss';
@import 'modules/_testing.scss';
@import 'modules/_footer.scss';

html, body {
    height: 100%;
}

body {
    font-family: $body-font;
    color: $copy-color;
}

h1, h2, h3, h4, h5 {
    font-family: $heading-font;
    line-height: 1.2em;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

a {
    cursor: pointer;
    text-decoration: none;
}

input {
    border: none;
}

p {
    line-height: 1.5em;
}

li {
    line-height: 1.5em;
}

.hidden {
    display: none;
}

.button {
    border-radius: 20px;
    padding: 10px 30px;
    background-color: $dark-blue;
    color: white;
    margin-right: auto;
    margin-left: auto;
    font-family: $heading-font;
    font-size: 1.1em;
    transition: all 1s ease;
}

.button:hover {
    background-color: $hover-color;
}