// intro
.comm-page {
    position: relative;
}

.comm-banner {
    position: absolute;
    top: 0;
}

.comm-intro {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 40%;
    .main-heading {
        color: $blue;
        margin: 0 10vw;
    }
    p {
        margin: 0 40px;
        margin-top: 30px;
    }
}



// events

.comm-events {
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 60px;
    @include col;
    align-items: center;
    .sub-heading {
        color: $blue;
        text-align: center;
    }
}

.event-card {
    position: relative;
    margin-top: 60px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba($color: $grey, $alpha: .2)
}

.event-date {
    position: absolute;
    background-color: white;
    padding: 5px 8px;
    border-radius: 8px;
    top: 20px;
    left: 20px;
    text-align: center;
    span {
        display: block;
        color: $purple;
    }
    .day {
        font-size: 1.4em;
    }
}

.event-img {
    width: 100%;
}

.event-heading {
    color: $purple;
    margin-top: 30px;
    margin-left: 30px;
}

.event-time, .event-desc, .event-location, .see-more-info {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.event-time {
    color: $purple;
    margin-top: 5px;
}

.event-location p:first-child {
    color: $purple;
    margin-bottom: 5px;
}

.see-more-info {
    p {
        color: $purple;
        margin-bottom: 5px; 
    }
    a {
        color: $dark-blue;
    }
}

// instagram feed

.more-community {
    @include col;
    align-items: center;
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
    .sub-heading {
        color: $blue;
        text-align: center;
    }
}

.insta-feed-wrapper {
    margin-top: 40px;
    @include col;
    align-items: center;
}

.insta-feed-group {
    @include col;
}

// .comm-img {
//     width: 300px;
// }

.comm-img, .quote {
    margin-top: 40px;
    cursor: pointer;
    height: 250px;
    width: 300px;
}

.quote {
    box-shadow: 0 0 20px rgba($color: $grey, $alpha: .2);
    @include col;
    align-items: center;
    border-radius: 10px;
    position: relative;
    p {
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
    }
    span {
        text-transform: uppercase;
        display: block;
        margin-top: 15px;
    }
    i {
        position: absolute;
        top: 50px;
        font-size: 7em;
        opacity: .07;
    }
}

.quote-logo {
    width: 50px;
    position: absolute;
    bottom: 30px;
}

// .comm-img:nth-of-type(4), .comm-img:nth-of-type(5), .comm-img:nth-of-type(6),
// .comm-img:nth-of-type(7), .comm-img:nth-of-type(8), .comm-img:nth-of-type(9),
// .quote:nth-of-type(4), .quote:nth-of-type(5), .quote:nth-of-type(6) {
//     display: none;
// }

.insta-feed-group:nth-of-type(4),
.insta-feed-group:nth-of-type(5),
.insta-feed-group:nth-of-type(6),
.insta-feed-group:nth-of-type(7) {
    display: none;
}

.insta-feed-group:first-of-type .quote{
    background: url(../images/quote1.png) no-repeat;
}

.insta-feed-group:nth-of-type(2) .quote {
    background: url(../images/quote2.png) no-repeat;
}

.insta-feed-group:nth-of-type(3) .quote {
    background: url(../images/quote3.png) no-repeat;
}

.insta-feed-group:nth-of-type(4) .quote {
    background: url(../images/quote4.png) no-repeat;
}

.insta-feed-group:nth-of-type(5) .quote {
    background: url(../images/quote5.png) no-repeat;
}

.insta-feed-group:nth-of-type(6).quote {
    background: url(../images/quote6.png) no-repeat;
}

.insta-feed-group:nth-of-type(7) .quote {
    background: url(../images/quote7.png) no-repeat;
}

.insta-link {
    margin-top: 60px;
    background-color: $blue;
    text-transform: uppercase;
    padding-top: 13px;
    padding-bottom: 13px;
}

// share story

.share-story {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    @include col;
    align-items: center;
    text-align: center;
    .sub-heading {
        color: $blue;
    }
    p {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.story-form {
    position: relative;
    margin-top: 40px;
    padding: 40px;
    width: 80%;
    @include col;
    box-shadow: 0 0 20px rgba($color: $grey, $alpha: .2);
    label {
        color: $purple;
        text-align: left;
        font-weight: bold;
    }
    #story {
        margin-top: 20px;
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 5px;
        border: $grey solid 1px;
    }
    input {
        margin-top: 30px;
        background-color: $purple;
    }
}

.top-form {
    position: absolute;
    width: 50px;
    top: 0;
    left: 0;
    opacity: .2;
}

.bottom-form {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    opacity: .2;
}

// helplines

.comm-help {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    @include col;
    align-items: center;
    text-align: center;
    .sub-heading {
        color: $blue;
    }
    p {
        margin-top: 40px;
    }
}

.help-icon {
    width: 170px;
    margin-top: 40px;
}

.help-small-text {
    font-size: .9em;
}

.help-link {
    color: $dark-blue;
    font-size: .9em;
    margin-top: 5px;
}

// media queries

@media screen and (min-width: 450px) {
    .comm-intro {
        //margin-top: 40%;
        .main-heading { margin: 0 15vw; }
    }
}

@media screen and (min-width: 420px) {
    .more-community {
        .sub-heading {
            margin-right: 10%;
            margin-left: 10%;
        }
    }
    .comm-img, .quote {
        width: 380px;
        height: 310px;
    }

    .quote {
        p {
            margin-top: 60px;
        }
    }

    .quote-logo {
        bottom: 40px;
    }
}

@media screen and (min-width: 700px) {
    .comm-intro {
        text-align: left;
        padding-top: 30%;
        margin-left: 50px;
        margin-right: 40vw;
        .main-heading { margin: 0; }
        p {
            margin-right: 0;
            margin-left: 0;
        }
    }

    .comm-events {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (min-width: 768px ) {
    .insta-feed-group {
        @include row;   
    }

    .comm-img, .quote {
        margin: 15px;
        width: 300px;
        height: 250px;
    }

    .quote {
        p {
            font-size: 1em;
            margin-top: 40px;
            margin-left: 30px;
            margin-right: 30px;
        }
        span {
            margin-top: 10px;
        }
        .quote-logo {
            width: 30px;
            bottom: 20px;
        }
    }
}

@media screen and (min-width: 830px) {
    .comm-img, .quote {
        width: 380px;
        height: 310px;
    }

    .quote {
        p {
            font-size: 1.1em;
            margin-top: 60px;
            margin-right: 50px;
            margin-left: 50px;
        }
        span {
            margin-top: 15px;
        }
        .quote-logo {
            width: 50px;
            bottom: 42px;
        }
    }

    .share-story {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .story-form {
        margin-top: 60px;
        textarea {
            height: 20vw;
        }
    }

    .comm-help {
        margin-left: 15vw;
        margin-right: 15vw;
    }
}

@media screen and (min-width: 980px) {
    .comm-events {
        margin-left: 50px;
        margin-right: 50px;
    }

    .events-grid {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2vw;
    }
}

@media screen and (min-width: 1024px) {
    .events-grid {
        grid-gap: 5vw;
    }

    // .insta-feed-wrapper {
    //     grid-template-columns: repeat(3,1fr);
    // }

    // .comm-img:nth-of-type(4), .comm-img:nth-of-type(5), .comm-img:nth-of-type(6),
    // .comm-img:nth-of-type(7), .comm-img:nth-of-type(8), .comm-img:nth-of-type(9),
    // .quote:nth-of-type(4), .quote:nth-of-type(5), .quote:nth-of-type(6) {
    //     display: flex;
    // }

    
}

@media screen and (min-width: 1060px) {
    .insta-feed-wrapper {
        // @include row;
        // justify-content: space-evenly;
        // flex-wrap: wrap;
        // max-width: 95%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        //grid-gap: 5vw;
    }

    .insta-feed-group {
        @include col;
    }

    .insta-feed-group:nth-of-type(4),
    .insta-feed-group:nth-of-type(5),
    .insta-feed-group:nth-of-type(6) {
        @include col;
    }

    .insta-feed-group:nth-of-type(even) {
        .comm-img { order: 2 }
    }

    .comm-img, .quote {
        margin: 2vw;
        //margin: 0;
        width: 300px;
        height: 250px;
    }

    .quote {
        p {
            font-size: 1em;
            margin-top: 40px;
            margin-left: 30px;
            margin-right: 30px;
        }
        span {
            margin-top: 10px;
        }
        .quote-logo {
            width: 30px;
            bottom: 20px;
        }
    }
}

@media screen and (min-width: 1300px) {
    // .insta-feed-wrapper {
    //     max-width: 100%;
    // }

    .comm-img, .quote {
        width: 380px;
        height: 310px;
    }

    .quote {
        p {
            font-size: 1.1em;
            margin-top: 50px;
            margin-right: 40px;
            margin-left: 40px;
        }
        span {
            margin-top: 20px;
        }
        .quote-logo {
            width: 50px;
            bottom: 40px;
        }
    }

    .insta-feed-group:nth-of-type(5) .quote {
        p {
            margin-top: 30px;
        }
    }

    .insta-feed-group:nth-of-type(7) .quote {
        p {
            margin-top: 80px;
        }
        i {
            top: 70px;
        }
    }
}




