.about {
    margin-top: 30px;
    @include col;
    align-items: center;
}

.about-img {
    img {
        width: 100%;
    }
}

.about-top {
    background-color: $red;
    width: 100%;
    .line {
        height: 3px;
        margin: 40px 0;
        background-color: $yellow-orange;
    }
}

.about-text {
    background-color: $yellow-orange;
    padding: 40px 30px;
    color: $red;
    ul li {
        margin-top: 20px;
    }
    span {
        font-weight: bold;
    }
}

@media screen and (min-width: 598px) {
    .about {
        display: grid;
        grid-template-areas: 'a b'
                             'c b';
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    .about-top {
        grid-area: a;
        .line {
            width: 50%;
        }
    }

    .about-img {
        grid-area: b;
        align-self: start;
        @include col;
        align-items: center;
    }

    .about-text {
        grid-area: c;
        align-self: start;
        position: absolute;
        z-index: 10;
        width: 60vw;
        height: 400px;
        padding-top: 15%;
        padding-left: 12%;
        //height: 100%;
        @include col;
        justify-items: center;
        li { width: 90%; }
    }
}

@media screen and (min-width: 810px) {
    .about-text {
        //width: 55vw;
        height: 430px;
        // padding: 50px 40px;
        // ul {
        //     width: 90%;
        // }

        li {
            font-size: 1.1em;
        }
    }
}

@media screen and (min-width: 900px) {
    .about {
        grid-template-columns: 1.5fr 1fr;
    }

    .about-text {
        width: 60vw;
        //padding: 60px 50px;
    }
}

@media screen and (min-width: 1010px) {
    .about-text {
        width: 65vw;
        //padding: 70px 60px;
    }
}

@media screen and (min-width: 1050px) {
    .about-text {
        padding-top: 10%;
        height: 500px;
        li {
            font-size: 1.5em;
        }
    }
}

@media screen and (min-width: 1300px) {
    .about-text {
        width: 70vw;
        //padding: 80px 70px;
    }
}

@media screen and (min-width: 1500px) {
    .about-text {
        width: 70vw;
        padding: 90px 80px;
    }
}

