.header {
    background-color: $dark-blue;
    @include row;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    width: 65px;
}

.burger {
    cursor: pointer;
    width: 30px;
}

.rotated {
    transform: rotate(90deg);
}

.nav-wrapper {
    display: none;
}

.visible {
    @include col;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    z-index: 10;
}

.title-close {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    h3 {
        color: $dark-blue;
    }
    p {
        justify-self: end;
    }
}

.close-nav {
    cursor: pointer;
    color: #ccc;
    font-weight: bold;
    font-size: 1.2em;
    //margin-left: 50px;
}

.nav {
    margin-top: 50px;
    text-align: center;
    @include col;
    align-items: center;
    li {
        margin-bottom: 15px;
        display: flex;
    }
    .link1 {
        background-color: $red;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin-left: 8px;
        margin-top: 8px;
        opacity: 0;
        transition: all 1s ease;
    }
    .link2 {
        background-color: $orange;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin-left: 8px;
        margin-top: 8px;
        opacity: 0;
        transition: all 1s ease;
    }
    .link3 {
        background-color: $yellow-orange;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin-left: 8px;
        margin-top: 8px;
        opacity: 0;
        transition: all 1s ease;
    }
    .link4 {
        background-color: $green;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin-left: 8px;
        margin-top: 8px;
        opacity: 0;
        transition: all 1s ease;
    }
    a {
        text-transform: uppercase;
        color: $dark-blue;
        transition: all 1s ease;
    }
    li:hover {
        a {
            color: $hover-color;
        }
        .link1 {
            opacity: 1;
        }
        .link2 {
            opacity: 1;
        }
        .link3 {
            opacity: 1;
        }
        .link4 {
            opacity: 1;
        }
    }
}

.h-social-media {
    margin-top: 40px;
    @include row;
    //justify-content: space-evenly;
    i {
        font-size: 2.5em;
        color: $dark-blue;
        margin-right: 20px;
        transition: all 1s ease;
    }
    .fa-twitter {
        margin-right: 0;
    }
    i:hover {
        color: $hover-color;
    }
}

@media screen and (min-width:767px) {
    .logo {
        width: 300px;
    }
}

@media screen and (min-width:1023px) {
    .burger {
        display: none;
    }

    .nav-wrapper {
        display: flex;
    }

    .nav {
        display: flex;
        flex-direction: row;
        margin-top: 35px;
        li {
            margin-left: 30px;
            flex-direction: column;
        }
        li:first-child {
            margin-right: 15px;
        }
        li:nth-child(2) {
            margin-right: 10px;
        }
        a {
            color: white;
        }
        .link1 {
            margin-left: auto;
            margin-right: auto;
        }
        .link2 {
            margin-left: auto;
            margin-right: auto;
        }
        .link3 {
            margin-left: auto;
            margin-right: auto;
        }
        .link4 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    

    .title-close {
        display: none;
    }

    .h-social-media {
        display: none;
    }
}


